<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin/css/base.css' %}" />
        <!-- 상속 받는 자식 html에서 수정 가능한 공간 재정의(override) block별 별칭 필수-->
        <title>{% block title %}My Amazing Site{% endblock %}</title>
</head>

<body>
    <div id="sidebar"> <!-- 별칭을 부여-->
        {% block sidebar %}
            <ul>
                <li><a href="/admin/">Admin</a></li>
            </ul>
        {% endblock %}
        <br>
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>
<!--
1. 용도
    - 모든 app들이 공통적인 화면을 구성 가능하게 하는 상위 /html
2. 개발 방식
    1. 확장자 : html
    2. 자식 templated에서 수정 가능한 영역은 block 표기로 처리


-->